<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
<title>WhatsApp – Send Messaging to multiple number</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="Easily integrate WhatsApp into your web app using whatsapp-web.js. Automate messages, handle QR login, and manage sessions securely.">
<meta name="keywords" content="WhatsApp automation, whatsapp-web.js, WhatsApp API, Node.js, messaging bot, QR login, message bombar, bot, whatsapp bot">
<meta name="author" content="Muhammad Saad">
<meta name="robots" content="index, follow">
<meta name="apple-mobile-web-app-capable" content="yes">
<link rel="icon" href="/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div id="msg">
        <h1 id="status-title">Wit for QR Code</h1>
        <div id="qr-container"></div>
        <div id="message-form" class="hidden">
            <h2>Send WhatsApp Message</h2>
            <form id="send-form" method="POST">
                <label for="phone-number">Format 923001231231. Separate by comma (,)</label>
                <input type="text" id="phoneNumber" name="phoneNumber" placeholder="Phone Number" required><br>
                <textarea id="message" name="message" placeholder="Your message" required></textarea><br>
                <button type="submit" id="send-btn">Send</button>
            </form>
            <button id="disconnect-btn" class="hidden" style="margin-top:15px;">Disconnect</button>
            <div id="response"></div>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script src="script.js"></script>
</body>
</html>
